/* MAIN CONTAINER SAME AS BANK INFO */
.formContainer {
    background-color: #ffffff;
    border-radius: 8px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.formContainer::-webkit-scrollbar {
    display: none;
}
 
/* MAIN FORM WRAPPER */
.form_grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
/* SECTION HEADER (divider line + title) */
.section_header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 15px;
}
 
.section_title {
    font-weight: 500;
    font-size: 14px;
    color: #82808F;
    margin-right: 5px;
}
 
 
/* THREE-COLUMN GRID FOR FIELDS */
.formGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 2px;
}
 
/* Standard item wrapper (Input / Dropdown) */
.form_item {
    width: 100%;
}
 
/* Empty column placeholder for layout alignment */
.form_item_empty {
    visibility: hidden;
}
 
/* Add Employer Button */
.addButtonContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
 
.addButton {
    background: none;
    border: none;
    color: #4F46E5;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}
 
/* Upload Documents Button Container */
 
.fieldLabel {
    font-size: 12px;
    font-weight: 400;
    color: #344054;
}
 
.uploadDocumentsContainer {
    width: 100%;
}
 
.uploadDocumentsButton {
    width: 100%;
    margin-top: 5px;
    padding: 6px 7px;
    border: 1px solid #E2E8F0;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    font-weight: 500;
    color: #64748B;
}
 
.uploadDocumentsButton:hover {
    background-color: #F8F9FA;
    border-color: #CBD5E1;
}
 
/* Success State Styles */
.uploadDocumentsButton {
    position: relative;
}
 
.uploadIconCircle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* border: 1px solid #E9D5FF; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
 
.uploadDocumentsButton:hover .uploadIconCircle {
    background-color: #F5F3FF;
}
 
.uploadDocumentsButton span {
    flex: 1;
    text-align: left;
}
 
.checkmarkCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    /* background-color: #10B981; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
 
/* Success State - Change button appearance when files are uploaded */
.uploadDocumentsButtonSuccess {
    background-color: #FFFFFF;
    border-color: #E2E8F0;
    color: #334155;
}
 
.uploadDocumentsButtonSuccess:hover {
    background-color: #F8F9FA;
}
 
/* Responsive Behaviour */
@media (max-width: 900px) {
    .formGrid {
        grid-template-columns: 1fr !important;
    }
 
    .form_item_empty {
        display: none;
    }
}
 