.wrapper {
  padding: 16px;
  background: #fff;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  font-size: 12px;
  color: #555;
}

.pagination {
  display: flex;
  height:32px;
}

.prev {
  border: 1px solid #ddd;
  background: #fff;
  padding: 4px 10px;
  cursor: pointer;
}

.next {
  border: none;
  background: #3425ff;
  color: #fff;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 4px;
}
